# The Site Configuration

# Import the theme
theme: jekyll-theme-chirpy

# Only if your site type is GitHub Project sites and doesn't have a custom domain,
# change below value to '/projectname'.
baseurl: ""

# the HTML language tag › https://www.w3.org/International/questions/qa-choosing-language-tags
lang: en-US

# Change to your timezone › http://www.timezoneconverter.com/cgi-bin/findzone/findzone
timezone: Asia/Seoul

# jekyll-seo-tag settings › https://github.com/jekyll/jekyll-seo-tag/blob/master/docs/usage.md
# --------------------------
title: marshmel.log # the main title

tagline: Hi there~~!! # it will display as the sub-title

description: >- # used by seo meta and the atom feed
  A minimal, portfolio, sidebar,
  bootstrap Jekyll theme with responsive web design
  and focuses on text presentation.

# fill in the protocol & hostname for your site, e.g., 'https://username.github.io'
url: "https://marshmellowon.github.io"

github:
  username: Marshmellowon # change to your github username

instagram:
  username: s.wlli # change to your twitter username

social:
  # Change to your full name.
  # It will be displayed as the default author of the posts and the copyright owner in the Footer
  name: Sangwon Lee
  email: marshmello_sw@naver.com # change to your email address
  links:
    # The first element serves as the copyright owner's link
    # change to your twitter homepage
    - https://github.com/Marshmellowon # change to your github homepage
    # Uncomment below to add more social links
    # - https://www.facebook.com/username
    # - https://www.linkedin.com/in/username

google_site_verification: # change to your verification string
# --------------------------

google_analytics:
  id: "G-4YH4X8R26D" # fill in your Google Analytics ID
  # Google Analytics pageviews report settings
  pv:
    proxy_endpoint: # fill in the Google Analytics superProxy endpoint of Google App Engine
    cache_path: # the local PV cache data, friendly to visitors from GFW region

# Prefer color scheme setting.
#
# Note: Keep empty will follow the system prefer color by default,
# and there will be a toggle to switch the theme between dark and light
# on the bottom left of the sidebar.
#
# Available options:
#
#     light  - Use the light color scheme
#     dark   - Use the dark color scheme
#
theme_mode: dark # [light|dark]

# The CDN endpoint for images.
# Notice that once it is assigned, the CDN url
# will be added to all image (site avatar & posts' images) paths starting with '/'
#
# e.g. 'https://cdn.com'
img_cdn: ""

# the avatar on sidebar, support local or CORS resources
avatar: https://cdn.jsdelivr.net/gh/cotes2020/chirpy-images/commons/avatar.jpg

# boolean type, the global switch for ToC in posts.
toc: true

disqus:
  comments: true # boolean type, the global switch for posts comments.
  shortname: "marshmellowon-github-io" # Fill with your Disqus shortname. › https://help.disqus.com/en/articles/1717111-what-s-a-shortname

paginate: 10

# ------------ The following options are not recommended to be modified ------------------

kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts: # Rouge Options › https://github.com/jneen/rouge#full-options
    css_class: highlight
    # default_lang: console
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: "" # An empty string here means all files in the project
      type: posts
    values:
      layout: post
      comments: true # Enable comments in posts.
      toc: true # Display TOC column in posts.
      # DO NOT modify the following parameter unless you are confident enough
      # to update the code of all other post links in this project.
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs # see `site.collections`
    values:
      layout: page
      permalink: /:title/
      dynamic_title: true # Hide title in mobile screens.

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - "*.gem"
  - "*.gemspec"
  - tools
  - docs
  - README.md
  - LICENSE
  - gulpfile.js
  - node_modules
  - "*.json"

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/

experience:
  - name: TAVE 6TH Member
    start: 2020-08-01
    end: 2020-11-28
    url: https://blog.naver.com/t-ave
    urlName: TAVE blog

  - name: TAVE Research Member
    start: 2020-12-20
    end: now
    url: https://taveresearch.github.io/
    urlName: TAVE Research blog

  - name: TAVE 7TH Management Team
    start: 2021-02-06
    end: 2021-07-17
    url: https://blog.naver.com/t-ave
    urlName: TAVE blog

  - name: 2021 금융보안원 대학생 금융보안캠프
    start: 2021-05-24
    end: 2021-07-09
    url:

project:
  - name: 2020 국어정보처리 경진대회
    start: 2020-08-13
    end: 2020-10-08
    award:
    url: https://www.youtube.com/watch?v=gIhNBtruUYM&t=13s
    urlName: Youtube
    file: /files/paper_submited.pdf
    fileName: paper

  - name: 2021 금융보안원 대학생 금융보안캠프
    start: 2021-02-06
    end: 2021-07-17
    award:
    url:
    urlName:
    file:
    fileName:
