.experience_name {
  margin-bottom: 0.1em;
  padding-top: 1.3rem;
}
.experience_site {
  font-size: 12px;
  margin-right: 5px;
}
.oneline {
  width: 90%;
  display: flex;
}
.hr {
  margin-top: 4px;
  margin-bottom: 5px;
}
